@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

header{
    background-color: #dd4e4e;
    margin: -86px -8px -61px -8px;
    padding: 1px -1px;
}

header > h1{
    text-align: center;
    color: #ffffff;
    font-family: "Love ya like a sister";
    font-size: 3.5em;
    text-shadow: -3px 3px 2px #000000;
    margin-top: 85px;
    margin-bottom: 61px;
}

body{
    background-image: url('fotos/fundo\ do\ site.jpeg');
}

main{
    background-color: #ffffff;
    margin: auto;
    min-width: 400px;
    max-width: 900px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #0000008f;
    padding-bottom: 20px;
}

main > p{
    text-align: justify;
    color: #000000;
    font-size: 1.8em;
    font-family: "Agdasima", sans-serif;
    padding-left: 20px;
    padding-right: 20px;
    text-indent: 20px;
    font-weight: 500;
}

a{
    text-decoration: none;
    color: #000000;
}

strong{
    font-style: italic;
}

a:hover{
    text-decoration: underline;
}

#paragrafoinicio{
    padding-top: 20px;
}

#paragrafofinal{
    padding-bottom: 30px;
}

div{
    background-image: url(fotos/foto\ do\ dia\ do\ show\ de\ belo.jpg);
    width: 400px;
    height: 400px;
    border-radius: 200px;
    box-shadow: 5px 5px 4px #000000c5;
    display: block;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

div:hover{
    width: 450px;
    height: 450px;
    border-radius: 300px;
    box-shadow: 5px 5px 4px #000000c5;
    display: block;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

footer{
    font-family: "Agdasima", sans-serif;
    font-size: 20px;
}