@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

body{
    background-image: url('fotos/fundo\ do\ site.jpeg');
}

header{
    background-image: url(fotos/foto\ na\ lagoa.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin: -44px -8px -40px -8px;
    padding: 1px 0px;
}

header > h1{
    font-family: "Love ya like a sister";
    text-align: center;
    color: #dd4e4e;
    font-size: 4em;
    text-shadow: -3px 3px 2px #000000;
    margin-top: 85px;
    margin-bottom: 61px;
}

main{
    background-color: #dd4e4e;
    margin: auto;
    min-width: 400px;
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #000000a9;
}

.paragrafotopo{
    color: #ffffff;
    font-size: 2.5em;
    font-family: "Agdasima", sans-serif;
    text-align: center;
    font-weight: 700;
    padding-top: 40px;
    text-shadow: 3px 3px 2px #000000;
}

#containeresquerdo{
    display: flex;
    padding-left: 20px;
    flex-direction: row;
    padding-bottom: 20px;
    padding-top: 20px;
}

.fotodoshow{
    width: 500px;
    max-height: 300px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-image: url(fotos/foto\ do\ dia\ do\ show\ de\ belo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.paragrafodaimagemesquerda{
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 2px #000000;
    font-family: "Agdasima", sans-serif;
    font-weight: bold;    
    font-size: 35px;
    padding-top: 60px;
    padding-left: 5px;
    min-width: 200px;
}

.paragrafodaimagemesquerda:hover{
    text-decoration: underline;
}

.sirlene{
    width: 500px;
    max-height: 600px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-image: url(fotos/sirlene.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

#containerdireito{
    display: flex;
    padding-right: 20px;
    flex-direction: row-reverse;    
    padding-bottom: 20px;
    padding-top: 20px;
}

.paragrafodaimagemdireita{
    color: white;
    text-decoration: none;
    text-shadow: 3px 3px 2px #000000;
    font-family: "Agdasima", sans-serif;
    font-weight: bold;    
    font-size: 35px;
    padding-top: 60px;
    padding-right: 5px;
    padding-left: 30px;
}

.paragrafodaimagemdireita:hover{
    text-decoration: underline;
}

.eu{
    width: 500px;
    max-height: 300px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-image: url(fotos/eu.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.nossaprimeiraviagemjuntas{
    width: 500px;
    max-height: 300px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-image: url();
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

.declaracao{
    width: 500px;
    max-height: 300px;
    border: 3px solid #ffffff;
    border-radius: 10px;
    background-image: url();
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}
